<div class="row">
  <div style="padding-top: 6%;padding-left: 4%" class="col-md-6">
    <h3>Add / Edit Customer</h3>
    <form class="cust-form" #customerForm="ngForm" (ngSubmit)="onSubmit(customerForm)">
        <input type="hidden" name="ID" #EmployeeID="ngModel" [(ngModel)]="_customerService.selectedCustomer.Id">
        <div class="form-row">
          <div class="form-group col-md-6">
            <input class="form-control" name="FirstName" #FirstName="ngModel" [(ngModel)]="_customerService.selectedCustomer.FirstName"
              placeholder="First Name" required>
            <div class="validation-error" *ngIf="FirstName.invalid && FirstName.touched">This Field is Required.</div>
          </div>
          <div class="form-group col-md-6">
            <input class="form-control" name="LastName" #LastName="ngModel" [(ngModel)]="_customerService.selectedCustomer.LastName" placeholder="Last Name"
              required>
            <div class="validation-error" *ngIf="LastName.invalid && LastName.touched">This Field is Required.</div>
          </div>
        </div>
        <div class="form-group">
            <div class="form-group col-md-6">
                <input class="form-control" name="Phone" #Phone="ngModel" [(ngModel)]="_customerService.selectedCustomer.Phone" placeholder="Phone">
              </div>
         
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
            <input class="form-control" name="City" #City="ngModel" [(ngModel)]="_customerService.selectedCustomer.City" placeholder="City">
            </div>
            <div class="form-group col-md-6">
            <input class="form-control" name="Country" #Country="ngModel" [(ngModel)]="_customerService.selectedCustomer.Country" placeholder="Country">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-8">
            <button [disabled]="!customerForm.valid" type="submit" class="btn btn-lg btn-block btn-info">
              <i class="fa fa-floppy-o"></i> Submit</button>
          </div>
          <div class="form-group col-md-4">
            <button type="button" class="btn btn-lg btn-block btn-secondary" (click)="resetForm(customerForm)">
              <i class="fa fa-repeat"></i> Reset</button>
          </div>
        </div>
      </form>
  </div>
  
</div>
